* {
    margin: 0px;
    font-family: 'Inter';
}

#top {
    color: white;
    background-color: #303030;
    padding: 145px 0px 145px 0px;
}

#top h1 {
    font-size: 60px;
    font-weight: 600;
    margin-left: 62px;
}

#top p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 62px;
}

#info {
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 76px 10% 45px 15%;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

#info h1 {
    font-size: 40px;
    font-weight: 600;
}

#descricao {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 70px 54px 70px 77px;
}

#texto-desc {
    margin-top: 204px;
}

#descricao h1 {
    font-size: 40px;
    font-weight: 500;
}

#descricao p {
    font-size: 24px;
    font-weight: 300;
}

#formulario {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 87px 0 87px 0;
}

#formulario h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 18px;
}

input {
    width: 508px;
    height: 72px;
    border: 0px;
    border-radius: 10px;
    padding-left: 20px;
    margin: 30px;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
}

::placeholder {
    color: #0000004D;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
}

button {
    background-color: #C07212;
    color: white;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 700;
    border: 0px;
    border-radius: 10px;
    margin-top: 58px;
    padding: 20px 50px 20px 50px;
    cursor: pointer;
}

button:hover {
    background-color: #da8114;
    transform: translateY(-2px);
    box-shadow: 0px 1px 5px 0px #f9f9f93e;
    transition-duration: 0.2s;
}